.cards{
    width: 30rem;
    height: auto;
    border: .1rem solid rgb(26, 20, 20);
    border-radius: .7rem;
    overflow: hidden;
    transition: .3s ease;
    margin: auto;
    position: relative;
}
.cards .img{
    width: 100%;
    height: 23rem;
   
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
    transition: .3s all;
}
.cards:hover img{
    transform: scale(1.3);
}
.cards p{
    color: rgb(252, 244, 244);
}
.service-card-details{
    background-color: rgba(114, 114, 116, 0.942);
    height: 100%;
    padding: 2rem 0;
}
.service-title{
    color: rgba(7, 3, 49, 0.867);
    font-size: 3rem;
    padding: 1rem 0;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    transition: .3s ease;
}
.service-title::before{
    content: '';
    position: absolute ;
    top: 5.5rem;
    left: 31%;
    width: 40%;
    margin: auto ;
    height: .3rem;
    background:rgb(238, 144, 13);
    transition: .3s all;
}
.cards:hover .service-title::before{
    content: '';
    position: absolute ;
    top: 5.5rem;
    left: 26%;
    width: 50%;
    margin: auto ;
    height: .3rem;
    background:rgb(238, 144, 13);
}

.manage-btn{
    padding: 1.3rem 3rem;
    background: rgb(6, 1, 41);
    color: #fff;
    font-size: 1.7rem;
    transition: all .3s  ;
    margin: auto;
    border: 0;
}
.btn-container{
    transition: all .3s;
    width: 100%;
    height: 5rem;
    border: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
 .btn-container:hover .manage-btn{
    width: 100%;
}